@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");


.foot{
    color: #603e85;
    
}

.atd{
    color: #603e85;
    text-decoration: none;
    font-weight: bold;
    font-size: 13px;
}

.atd:hover{
    color: #603e85;
    text-decoration: none;
    font-weight: bold;
    font-size: 13px;
}

.trhead{
    font-family: "Varela Round", sans-serif;
    
}

.mailfoot{
    border: 1px solid #603e85;
    border-radius: 3px;
    color: #603e85;
    font-weight: bold;
    font-family: "Varela Round", sans-serif;
    font-size: 12px;
    width: 100%;
    height: 35px;
}

.redes{
    margin-left: 11%;
}

.textr{
    color: #603e85;
    font-size: 15px;
    font-weight: bold;
    align-content: center;
    font-family: "Varela Round", sans-serif;
}

.imgr{
    width: 2%;
}

.endfoot{
    /* background-color: rgb(226, 226, 226); */
    width: 100%;
    height: 60px;
    border: 2px solid red;
}

.tarjetas{
    width: 3%;
    
}

.pagos{
    width: 5%;
}

.infofoot{
    font-weight: bold;
    font-family: "Varela Round", sans-serif;

}


.section{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
}
.box-tarjets{
    width: 30%;
    border: 2px solid rgb(48, 45, 45)(43, 37, 37);
    display: flex;
    justify-content: center;
}
.box-text{
    width: 30%;
    display: flex;
    justify-content: center;

}
.box-download{
    display: flex;
    justify-content: center;
    width: 30%;
}