.foot{
    color: #603e85;
    
}

.atd{
    color: #603e85;
    text-decoration: none;
    font-weight: bold;
    font-size: 13px;
}

.atd:hover{
    color: #603e85;
    text-decoration: none;
    font-weight: bold;
    font-size: 13px;
}

.trhead{
    font-family: "Varela Round", sans-serif;
    
}